<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gaming Time, <%= @parent.name %></h1>
    <p>
      You student is now signed up to earn extra time on their electronics by answering math questions.
      We'll send you progress reports at <%= @parent.email %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>