<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gaming Time Progress Report <%= @report.date %> </h1>
    
    <p>
      Student Name:
      Date:
      Time Earned:
      Total Questions Answered:
      Total Correct:
      Incorrect:
    </p>
    
    <p>Have a Great Day</p>
  </body>
</html>